body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#6f4e37,#c4a484);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:500px;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:gray;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:18px;
}

label{
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

input:focus{
    border-color:#6f4e37;
    outline:none;
}

button{
    width:100%;
    padding:13px;
    background:#6f4e37;
    color:white;
    border:none;
    border-radius:6px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#5a3e2b;
}

.login-text{
    text-align:center;
    margin-top:15px;
}

.login-text a{
    color:#6f4e37;
    text-decoration:none;
    font-weight:bold;
}